RewriteEngine On

RewriteRule ^(.*?)\s+(.*?)$ $1_$2 [N]
RewriteRule ^(.*?)([_-]+){2,}(.*?)$ $1_$3 [N]
RewriteRule ^[_]+(.*)$ $1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /bestiary

RewriteRule ^([^\/]+).*$ index.html?unit=$1 [L,NC,R]