body { 
  font-family: 'Palatino', 'Palatino Linotype', 'URW Palladio L', 'Zapf Calligraphic 801', 'TeX Gyre Pagella', 'Book Antiqua', serif;
  padding: 0px;
  margin: 0px;
  color: #333;
  background-image: url(../images/darkstone.jpg);
  line-height: 1.2;
}

h1, h2, h3 {
  text-rendering: optimizeLegibility;
}

h3 {
  border-bottom: 2px solid #544;
  margin-bottom: 8px;
  margin-top: 0px;
  font-size: 24px;
  color: #544;
}

#stats * th, #stats * td, p {
  line-height: 1.3;
}

table * {
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
  border-collapse: separate;
}

table * p {
  font-size: 14px;
}

table {
  margin-bottom: 1em;
  text-transform: capitalize;
}

th {
  text-align: left;
  width: 150px;
}

ul {
  margin: 0px;
  padding: 0px;
}

#terrainadjustments {
  width: 500px;
}
#resistances td { text-align: right }
#terrainadjustments * td, .defense, .movement { text-align: center;   
}

#container {
  margin: 32px auto;
  width: 896px;  
  background-image: url('../images/paper.jpg');
}

header {
  display: block;
}

#content {
  padding: 16px;
  display: inline-block;
}

h1 {
  color: rgba(0,0,0,0.4);
  font-size: 60px;
  text-shadow: 0px 0px 6px #fed, 0px 0px #000;
  border-bottom: 2px solid #544;
  font-weight: bold;
  margin: -0px 0px 8px 0px;
}

#portrait {
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-rendering: optimizeSpeed;
}

#attacks tbody tr td {
  font-size: 36px;
  padding-bottom: 12px;
}

#attacks tbody tr th, #resistances tbody tr th {
  height: 60px;
  padding-left: 76px;
}

#resistances tbody tr td {
  font-size: 24px;
  width: 72px;
  height: 67px;
}

th, td, p {
  font-size: 18px;
}

nav {
  background-color: #a98;
  float: left;
  width: 100%;
  color: #fed;
}

footer {
  margin-top: -2em;
  color: #544;
  font-size: 14px;
  cursor: pointer;
}

nav a {
  display: block;
  float: left;
  padding: 4px 16px;
}

nav a:link, nav a:visited {
  text-decoration: none;
  color: #fed;
}

nav a:hover {
  background-image: url('../images/paper.jpg');
  color: #333;
}

.selected {
  background-color: #cba;
}

#stats {
  width: 348px;
  margin-right: 16px;
  float: left;
}

#picture, #desc, #terra {
  float: right;
  width: 500px;
}

#advance, #resist {
  width: 348px;
  margin-right: 16px;
  float: left;
  clear: both;
}

#advancement li, #browserUnits li {
  width: 112px;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 1em;
  border-radius: 16px;
  list-style-type: none;
  float: left;
}

#current {
  font-weight: bold;
  background-color: #ffd
}

#description {
  clear: left;
}

th.terrain, th.defense, th.movement {
  cursor: pointer;
}

.emdash::after {
  content: '— ';
}

.figuredash::after {
  content: '‒';
}

#browser {
  display: none;
  background-color: transparent;
  color: #000;
}

.next {
  cursor: pointer;
}

#left h3, #right h3 {
  border: none;
}

#left {
  display: none;
}

#right {
  display: none;
}

li:hover {
  background-color: #fed;
}
