body { 
  font-family: "Palatino", "Palatino Linotype", "URW Palladio L", "Zapf Calligraphic 801", "TeX Gyre Pagella", "Book Antiqua", serif;
  padding: 0px;
  margin: 0px;
  color: #333;
  background-image: url(../images/darkstone.jpg);
  line-height: 1.3;
  text-rendering: optimizeLegibility;
}

h3 {
  border-bottom: 2px solid #333;
  margin-bottom: 0.25em;
  margin-top: 0px;
  font-size: 24px;
}  

table * { padding: 0px; margin: 0px; }
table * p {  font-size: 14px; }
table { margin-bottom: 1em; text-transform: capitalize; }

th { text-align: left; width: 150px;}

#resistances td { text-align: right }
#terrainadjustments * td, .defense, .movement { text-align: center; }

#container {
  margin: 24px;
  border: 1px solid #333;
}

#content {
  padding: 16px;
  background-image: url(../images/paper.png);
}

#title {
  margin: 0px;
  padding: 0px;
}

h2 {
  color: rgba(0,0,0,0.4);
  font-size: 60px;
  text-shadow: 0px 0px 6px #fed, 0px 0px #000;
  
  margin-bottom: 0px;
  font-weight: bold;
}

#portrait {
  margin-left: 16px;
  margin-bottom: 16px;
}

#attacks tbody tr td {
  font-size: 36px;
}

#attacks tbody tr th, #resistances tbody tr th {
  height: 60px;
  padding-left: 68px;
}

#resistances tbody tr td {
  font-size: 24px;
  width: 72px;
}

th, td, p {
  font-size: 18px;
}

nav, footer {
  background-color: #a98;
  float: left;
  width: 100%;
  color: #fed;
}

footer span {
  padding: 0px 16px;
}

a {
  display: block;
  float: left;
  padding: 4px 16px;
}

a:link, a:visited {
  text-decoration: none;
  color: #fed;
}

a:hover {
  background-image: url(../images/paper.png);
  color: #333;
}

a:active {
  text-shadow: 0px 0px 2px #765;
}

.selected {
  background-color: #cba;
}

#portrait {
  float: right;
}

#stats {
  clear: right;
}