*
{ border:  0px;
  margin:  0px;
  padding: 0px;
  list-style-type: none;
  font-family: "times", "times new roman", serif;
  line-height: 1.4;
}

h1, h2, h3
{ font-family: "Palatino", "Palatino Linotype", "URW Palladio L", "Zapf Calligraphic 801", "TeX Gyre Pagella", "Book Antiqua", "Georgia", serif;}

h2
{ text-shadow:  2px 2px 3px #987;
  font-size: 175%;
}

h3
{ padding-top: 1em;
  font-size: 130%;
  border-bottom: 1px solid #000;
  line-height: 1;
  margin-bottom: 0.25em;
}

body
{ background-image: url(../images/darkstone.jpg);
  color: #000;
  height: 100%;
  font-size: 105%;
  margin-bottom: 100px;
}

a
{ text-decoration: none;
}

#nav
{ text-align: center;
  margin-top: -59px;
  margin-bottom: 31px;
  width: 100%;
  padding: 0.25em 0em;
  background-color: #333;
  border: 1px #000 solid; 
  background-image: url(../images/border-bottom.png), url(../images/border-top.png);
  background-repeat: repeat-x, repeat-x;
  background-position: top, bottom;
}

#nav li a:hover
{ color: #c90;
  text-shadow:  0px 0px 4px #000;
}

#nav ul li
{ display: inline;
  padding: 0em 0.75em;
}

#nav ul li a
{ color: #E7D9C0;
}

html { height: 100%; }

#container
{ margin: 0 auto;
  width: 796px; /* 396 + portrait width */
  height: 100%;
}

#content
{ min-height: 100%;
  padding: 12px 24px;
  background-color: #E7D9C0;
  background-image: url(../images/border-top.png), url(../images/border-bottom.png), url(../images/border-left.png), url(../images/border-right.png); 
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: top, bottom, left, right;
}

#main
{ width: 324px;
  float: right;
}

#end
{ clear: both;
  height: 4em;
}

//div, dd, dt, li, td, th { border: 1px solid #0cf; margin: -1px; }

#meta th, #numbers th, #meta td, #numbers td
{ text-align: left;
  width: 162px;
}

#attacks table
{ height: 64px;
  line-height: 1;
}

#attacks *
{ line-height: 1;
}

#description p
{ font-size: 100%;
  color: #333;
  line-height: 1.2;
}

#resistances th
{ height: 64px;
  text-align: left;
  font-weight: 700;
  word-spacing: 0.25em;
  padding-left: 68px;
  width: 96px;
}

#resistances
{ padding-bottom: 8px;
}

#attacks th
{ text-align: left;
  padding-left: 68px;
}

td.weapon
{ width: 94px;
  font-weight: 700;
  vertical-align: bottom;
  padding-bottom: 0.3em;
  padding-right: 8px;
}

td.range, td.type
{ vertical-align: baseline;
  font-size: 90%;
  padding-top: 0.25em;
}

.special
{ padding-left: 16px;
  font-size: 90%;
}

.axe
{ background: transparent url(../attacks/axe.png) left center no-repeat;
}

.hammer-dwarven
{ background: transparent url(../attacks/hammer-dwarven.png) left center no-repeat;
}

dt
{ float: left;
  font-weight: 700;
}

#sidebar
{ width: 400px; /* portrait width */
}

#sidebar p
{ text-align: center;
  padding-top: 16px;
  word-spacing: 0.5em;
  font-size: 150%;
}

.atk
{ font-size: 160%;
  word-spacing: 2px;
  vertical-align: bottom;
}

.atk2
{ font-size:  150%;
  word-spacing: 2px;
  line-height: 1;
  text-align: right;
}

#header
{ background: transparent url(../images/logo.png) top center no-repeat;
  height: 201px;
}

.blade    { background: transparent url(../attacks/sword-human.png) left center no-repeat; }
.pierce   { background: transparent url(../attacks/spear.png) left center no-repeat; }
.impact   { background: transparent url(../attacks/club.png) left center no-repeat; }
.fire     { background: transparent url(../attacks/fireball.png) left center no-repeat; }
.cold     { background: transparent url(../attacks/iceball.png) left center no-repeat; }
.arcane   { background: transparent url(../attacks/faerie-fire.png) left center no-repeat; }

#advancement ul li
{ float: left;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 8px;
  margin-right: 8px;
  line-height: 1;
  font-size: 90%;
}

#advancement ul li:last-child
{ margin-right: 0px;
}

#advancement ul li br
{ line-height: 1.2;
}

.at
{ background-color: #ffd;
  font-weight: 700;
}

.to, .from, .at
{ width: 94px;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.from:hover, .to:hover
{ background-color: #fff;
}

.from:active, .to:active, #sidebar p span:active
{ background-color: #ffd;
}

#terrain
{ float: default;
  clear: left;
}

th.terrain, h3.terrain
{ text-align: left;
  width: 180px;
}

td.percent
{ width: 90px;
  text-align: center;
}

td.movement
{ width: 90px;
  text-align: center;
}

#terrain table tr h3
{ float: left;
  border: none;
}

td.terrain
{ font-weight: 700;
}

#footer
{ clear: both;
  font-size: 80%;
  font-weight: 700;
}

#statblock, #attacks
{ text-transform: capitalize;
}

#portrait1, #portrait2
{ padding: 2px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

#portrait1
{ background-color: #ffd;
}

#portrait
{ width: auto;
}

#img
{ display: none
}

/*
#portrait img
{ position: absolute;
  left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
}

portrait img.opaque
{ opacity: 1;
  filter: alpha(opacity=1);
}

*/